@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;700&family=Open+Sans:wght@300;400;700&family=Raleway:wght@700&display=swap");
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.header {
  height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 135px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
  padding: 26px 0;
  margin: 0 -100px;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  margin: 0 15px;
}

.menu__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #373A39;
  position: relative;
  padding-bottom: 5px;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}

.menu__link:hover {
  border-bottom: 2px solid #FCBB08;
}

.title {
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  color: #242121;
}

.title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
}

.header__content {
  background: center/100% no-repeat url(../images/Header-bg.png);
  height: 100vh;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__content-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 122px;
  color: #FFFFFF;
  margin-top: calc( 100vh - 70vh);
  margin-bottom: 43px;
}

.header__content-desription {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.74286px;
  color: #FCBB08;
  margin-bottom: calc( 100vh - 80vh);
}

.header__content-decor {
  position: relative;
  width: 26px;
  height: 43px;
  left: 0px;
  top: 0px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
}

.header__content-oval {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 8px;
  top: 8px;
  border-radius: 50%;
  background: #FFFFFF;
}

.about {
  background: #F6F8FA;
}

.about__inner {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 150px 0;
}

.about__title {
  font-size: 48px;
}

.about__title {
  min-width: 267px;
  margin-right: 133px;
  flex-basis: 33%;
}

.about__text {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  line-height: 24px;
  min-width: 770px;
}

.expertise__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  color: #242121;
  max-width: 396px;
  margin-top: 143px;
  margin-bottom: 89px;
}

.expertise__content {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 110px;
}

.expertise__content-items {
  min-width: 370px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.expertise__content-item {
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}

.expertise__content-text {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  line-height: 24px;
  min-width: 770px;
  flex-basis: 67%;
}

.expertise__items {
  display: flex;
  justify-content: space-between;
}

.expertise__items {
  margin-bottom: 164px;
}

.expertise__item {
  display: flex;
  align-items: start;
  width: 30%;
}

.expertise__item {
  margin-right: 36px;
}

.expertise__item:nth-child(3) {
  margin-right: 0;
}

.expertise__item-img {
  margin-right: 35px;
}

.expertise__item-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 4.29px;
  color: #333333;
  margin-bottom: 14px;
}

.expertise__item-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  min-width: 96px;
}

.features {
  background: #F6F8FA;
}

.features__inner {
  display: flex;
}

.features__img {
  width: 50%;
}

.features__content {
  padding-left: 130px;
  padding-bottom: 160px;
}

.features__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  color: #242121;
  margin-top: 100px;
  margin-bottom: 85px;
}

.features__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
}

.portfolio__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 139px;
}

.portfolio__buttons {
  display: flex;
}

.portfolio__btn {
  margin-left: 60px;
}

.portfolio__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F6F8FA;
  padding: 55px;
}

.portfolio__link-all {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
  padding: 10px;
  cursor: pointer;
}

.video__quotes {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 130px;
  font-family: Merriweather;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #242121;
  margin-bottom: 51px;
}

.video__quotes-author {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Merriweather;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #9E9E9E;
}

.statistics__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 165px;
  padding-bottom: 165px;
}

.statistics__item-num {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  color: #242121;
}

.statistics__item-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #00B2A0;
}

.slider {
  background: #F6F8FA;
}

.slider__item {
  display: flex;
  flex-direction: column;
}

.slider__item-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.3;
  display: flex;
  align-items: flex-end;
  color: #242121;
  margin-top: 307px;
  margin-bottom: 27px;
}

.slider__item-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  color: #777777;
}

.team__title {
  margin-top: 120px;
  margin-bottom: 102px;
}

.team__items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 164px;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team__item-img {
  margin-bottom: 35px;
}

.team__item-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 12px;
}

.team__item-position {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #C2C2C2;
}

.prising {
  background: #F6F8FA;
}

.prising__title {
  padding-top: 144px;
  margin-bottom: 91px;
}

.prising__items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 162px;
}

.prising__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 33%;
  background: #FFFFFF;
  position: relative;
  max-width: 370px;
  padding-bottom: 53px;
}

.prising__item-name {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 24px;
  margin-left: 24px;
}

.prising__item-rate {
  margin-top: 64px;
  margin-bottom: 51px;
  position: relative;
}

.prising__item-cur {
  position: absolute;
  display: inline-block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 54px;
  top: 0;
  left: -25px;
  color: #242121;
}

.prising__item-sum {
  display: inline;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 109px;
  color: #242121;
}

.prising__item-month {
  display: inline;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #242121;
}

.prising__list {
  margin-bottom: 69px;
  list-style: none;
}

.prising__list-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
  margin-bottom: 30px;
}

.prising__list-item:nth-child(5) {
  margin-bottom: 0;
}

.prising__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #242121;
  background: #fff;
  cursor: pointer;
  padding: 10px;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 292px;
}

.contact__content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact__title {
  ont-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  color: #242121;
  margin-bottom: 94px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  max-width: 569px;
}

.contact__form-input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 3px solid #373A39;
  padding: 20px 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  outline: none;
}

.contact__form-textarea {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 3px solid #373A39;
  padding: 20px 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  height: 156px;
}

.contact__form-btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  background: #242121;
  padding: 15px 58px;
  max-width: 240px;
  margin-bottom: 152px;
}

.contact__map {
  padding-right: -100px;
}

.footer__content {
  display: flex;
  font-display: column;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 60px;
  background: #373A39;
}

.logo--line {
  border-bottom: 2px solid #FCBB08;
  border-right-width: 150px;
}

.footer__social {
  display: flex;
}

.footer__social-link {
  text-decoration: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
