@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;700&family=Open+Sans:wght@300;400;700&family=Raleway:wght@700&display=swap')

html
  box-sizing: border-box

*,
*::after,
*::before
  box-sizing: inherit
a
  text-decoration: none

body
  font-family: 'Merriweather', serif

  font-family: 'Montserrat', sans-serif

  font-family: 'Open Sans', sans-serif

  font-family: 'Raleway', sans-serif

.header

  &__top

.container
  max-width: 1170px
  margin: 0 auto
.header__top-inner

  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: center
  padding: 26px 52px
.logo

  &__link

  &__img

.menu

  &__list
    display: flex
  &__list-item
    margin: 0 15px
  &__link
    font-weight: bold
    font-size: 12px
    line-height: 14px
    letter-spacing: 0.6px
    color: #373A39

  &__link--active

.header__content
  background: center / 100% no-repeat url(../images/Header-bg.png)

  &-inner
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
  &-title
    font-family: Montserrat
    font-style: normal
    font-weight: 700
    font-size: 100px
    line-height: 122px
    color: #FFFFFF
    margin-top: 213px
    margin-bottom: 18px
  &-desription
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 20px
    letter-spacing: 2.74286px
    color: #FCBB08
    margin-bottom: 180px
  &-decor
    margin-bottom: 60px
.about

  &__inner

.title

.about__title

.about__text

.about__description

.expertise

  &__content

  &__content-items

  &__content-item

  &__content-text

  &__items

  &__item

  &__item-img

  &__item-box

  &__item-title

  &__item-text

  &__item--shout

.features

  &__inner

  &__title

  &__text

.partfolio

.portfolio__head

.portfolio__buttons

.button

.portfolio__btn

.portfolio__items

.portfolio__item-img

.portfolio__item-title

.portfolio__btn-all

.video

  &__quotes

  &__quotes-author

  &__content

.statistics

  &__inner

  &__item

  &__item-num

  &__item-text

.slider

  &__item

  &__item-title

.team

  &__items

  &__item

  &__item-img

  &__item-name

  &__item-position

.prising

  &__items

  &__item

  &__item-name

  &__item-rate

  &__list

  &__list-item

  &__btn

.contact

  &__content

  &__form

  &__form-input

  &__form-textarea

  &__form-btn

  &__map

.footer

  &__content

.logo--line

.footer__social

  &-link

.footer__adress

.footer__phone

.footer__email

.footer-to__top-btn

.btn

.footer__copy
