@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;700&family=Open+Sans:wght@300;400;700&family=Raleway:wght@700&display=swap')

html
  box-sizing: border-box

*,
*::after,
*::before
  box-sizing: inherit
a
  text-decoration: none

body
  font-family: 'Merriweather', serif

  font-family: 'Montserrat', sans-serif

  font-family: 'Open Sans', sans-serif

  font-family: 'Raleway', sans-serif

.header

  &__top

.container
  max-width: 1170px
  margin: 0 auto
.header__top-inner

  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: center
  padding: 26px 52px
.logo

  &__link

  &__img

.menu

  &__list
    display: flex
  &__list-item
    margin: 0 15px
  &__link
    font-weight: bold
    font-size: 12px
    line-height: 14px
    letter-spacing: 0.6px
    color: #373A39

  &__link--active

.header__content
  background: center / 100% no-repeat url(../images/Header-bg.png)

  &-inner
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
  &-title
    font-family: Montserrat
    font-style: normal
    font-weight: 700
    font-size: 100px
    line-height: 122px
    color: #FFFFFF
    margin-top: 213px
    margin-bottom: 18px
  &-desription
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 20px
    letter-spacing: 2.74286px
    color: #FCBB08
    margin-bottom: 180px
  &-decor
    position: relative
    width: 26px
    height: 43px
    left: 0px
    top: 0px
    border: 2px solid #FFFFFF
    box-sizing: border-box
    border-radius: 100px
    margin-bottom: 60px
  &-oval
    position: absolute
    width: 6px
    height: 6px
    left: 8px
    top: 8px
    //top: 26px
    border-radius: 50%
    background: #FFFFFF
.about
  background: #F6F8FA
  &__inner
    display: flex
    justify-content: start
    align-items: start
    padding: 150px 0
.title
  position: relative
  font-family: Montserrat
  font-style: normal
  font-weight: 700
  font-size: 48px
  line-height: 75px
  letter-spacing: -1.65px
  color: #242121
.title::after
  content: ''
  position: absolute
  left: 0
  bottom: 0
  width: 60px
  height: 4px
  background-color: #FCBB08

.about__title
  min-width: 267px
  margin-right: 133px
  flex-basis: 33%
.about__text
  font-family: Open Sans
  font-size: 14px
  font-style: normal
  font-weight: 300
  line-height: 24px
  line-height: 24px
  min-width: 770px

.expertise
  &__title
    margin-top: 143px
    margin-bottom: 89px
  &__content
    display: flex
    justify-content: start
    align-items: start
    margin-bottom: 110px
  &__content-items
    min-width: 370px
    margin-right: 30px
    display: flex
    flex-direction: column
  &__content-item
    font-family: Open Sans
    font-size: 11px
    font-style: normal
    font-weight: 400
    line-height: 20px
    letter-spacing: 1px
  &__content-item::after

  &__content-text
    font-family: Open Sans
    font-size: 14px
    font-style: normal
    font-weight: 300
    line-height: 24px
    line-height: 24px
    min-width: 770px
    flex-basis: 67%
  &__items
    display: flex
    justify-content: space-between
    align-items: center
  &__items

  &__item
    display: flex
    align-items: start

  &__item
    margin-right: 36px
  &__item:nth-child(3)

    margin-right: 0
  &__item-img
    margin-right: 35px
  &__item-box

  &__item-title
    font-family: Raleway
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 20px
    letter-spacing: 4.29px
    color: #333333
    margin-bottom: 14px
  &__item-text
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 300
    font-size: 14px
    line-height: 24px
    color: #777777
    min-width: 96px
  &__item--shout

.features

  &__inner

  &__title

  &__text

.partfolio

.portfolio__head

.portfolio__buttons

.button

.portfolio__btn

.portfolio__items

.portfolio__item-img

.portfolio__item-title

.portfolio__btn-all

.video

  &__quotes

  &__quotes-author

  &__content

.statistics

  &__inner

  &__item

  &__item-num

  &__item-text

.slider

  &__item

  &__item-title

.team

  &__items

  &__item

  &__item-img

  &__item-name

  &__item-position

.prising

  &__items

  &__item

  &__item-name

  &__item-rate

  &__list

  &__list-item

  &__btn

.contact

  &__content

  &__form

  &__form-input

  &__form-textarea

  &__form-btn

  &__map

.footer

  &__content

.logo--line

.footer__social

  &-link

.footer__adress

.footer__phone

.footer__email

.footer-to__top-btn

.btn

.footer__copy
